<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <b>Live Chat</b>&nbsp;&nbsp;
          <label class="switch">
            <input
              type="checkbox"
              [checked]="on_off == 1"
              (change)="lcswitch()"
            />
            <span class="slider round"></span>
          </label>
        </div>
        <div class="col-xl-3 col-md-6">
          <b>Language Option</b>&nbsp;&nbsp;
          <label class="switch">
            <input
              type="checkbox"
              [checked]="on_off2 == 1"
              (change)="lcswitch2()"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total Users (Cumulative)
                  </h5>

                  <span class="h2 font-weight-bold mb-0">
                    {{ dashboardData.totalUser.toLocaleString() }}
                  </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>

              <!-- <p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p> -->
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Average Rating (Cumulative)
                  </h5>

                  <span class="h2 font-weight-bold mb-0">
                    {{ dashboardData.averageRating }}
                  </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>

              <!-- <p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p> -->
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Average Waiting Time (Cumulative)
                  </h5>

                  <span class="h2 font-weight-bold mb-0">
                    {{ dashboardData.averageWait }}
                  </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>

              <!-- <p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p> -->
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Average Time Spent (Cumulative)
                  </h5>

                  <span class="h2 font-weight-bold mb-0">
                    {{ dashboardData.averageSpent }}
                  </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>
              <!-- 
							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="card">
        <div class="card-header bg-secondary">
          <h4 class="m-0">Total Users (weekly)</h4>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chart_dashboard_2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-8">
      <div class="card">
        <div class="card-header bg-secondary">
          <h4 class="m-0">Top 5 Categories</h4>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chart_dashboard_3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
